/*Main o=body background*/
.mainbody{
    background-image: url(/public/img/bg.jpeg);
}
/*Styling for Index.html*/
.infobox{
  background-color: azure;
  border-radius: 10px;
  padding: 20px;
  margin: 70px;

}
.mainbox{
    background: rgba(0, 0, 0, 0.80);
}
.letterbox{
    background-color: azure;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
    border: 10px;
}
img{
    height: 220px;
}
p {
  font-family: "Times New Roman", Times, serif;
}
h1{
    text-align: center;
  font-family: "Georgia", Georgia, serif;
    color: white;
    
}
.headings{
    text-align: left;
}

/*Table styles for Pages.html */

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
        border-bottom: 1px solid black;
        text-align: center;
}
.thistable{
    table-layout:auto;
    margin: 10px;
    padding: 50px;
    background-color: aliceblue;
    width: inherit;
    position: relative;
    }    
.tablebox{
    background-color: rosybrown;
    padding: 50px;
}
/*Para style*/
.para{
    background-color: aqua;
    
}

nav{
    background-color: mediumaquamarine;
    padding: 5px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav>li {
  display: inline;
    float: left;
}
a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
    text-decoration: none;
}

